body:hover{
  background-color: #2e5cb7;
}

.passwordbox {
    background-color: #282c34;
    font-family: Arial;
    position: absolute;
    width: auto;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgb(8 7 16 / 60%);
    padding: 50px 35px;
    text-align: center;
    transform: translate(-50%,-50%);
  }

 
  input{
    border-radius: 5px;
    backdrop-filter: blur(10px);
    width: 200px;
    height: 50px;
    font-size :30px;
  }
  p{


    color: pink;
    font-family: Futura;
    font-weight: 300;
    text-transform: uppercase;
    font-family: 16px;
    letter-spacing: 2px;
    width: auto;
    
    
  }

  button{
    background-color: #474c58;
    color: pink;
    font-family: Futura;
    font-weight: 300;
    text-transform: uppercase;
    font-family: 16px;
    letter-spacing: 2px;
    border-radius: 5px;

    height: 30px;
  }
  button:hover
  {
    background-color: #d3b41b;
    color:gray;
    font-family: Futura;
    font-weight: 300;
    text-transform: uppercase;
    font-family: 16px;
    letter-spacing: 2px;
    border-radius: 5px;

    height: 30px;
  }

  body{
    background-color: rgb(157, 56, 56);
  }
 